html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.shortcut {
    outline: 0;
}

.demo {
    /* for IE10+ touch devices */
    touch-action: none;
}

#nuboged-container {
    position: relative;
    height:100%;
    width: 100%;
    overflow: hidden;
}

.nubogednode {
    /*border: 1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    border-radius: 0.5em;
    opacity: 0.8;
    filter: alpha(opacity=80);
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: #eeeeef;
    color: black;
    font-family: helvetica;
    padding: 0.5em;
    font-size: 0.9em;
    line-height: 80px;*/
    cursor: pointer;
    z-index: 20;
    position: absolute;
    transition: box-shadow 0.15s ease-in;
}

.nubogednode:hover {
    box-shadow: 2px 2px 19px #444;
    opacity: 0.6;
    filter: alpha(opacity=60);
    border-radius: 0.5em;
}

.nuboged .selected {
    border: 2px solid red;
}

.nuboged .active {
    border: 1px dotted green;
}

.nuboged .hover {
    border: 1px dotted red;
}

.nuboged .jsplumb-connector {
    z-index: 24;
}

.nuboged .jsplumb-endpoint, .endpointTargetLabel, .endpointSourceLabel {
    z-index: 21;
    cursor: pointer;
}

.nuboged .aLabel {
    background-color: white;
    padding: 0.4em;
    font: 12px sans-serif;
    color: #444;
    z-index: 21;
    border: 1px dotted gray;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
}

.nuboged .aLabel._jsPlumb_hover {
    background-color: #5C96BC;
    color: white;
    border: 1px solid white;
}

.nubogednode._jsPlumb_connected {
    /*border: 2px solid green;*/
}

.jsplumb-drag {
    /*border: 4px solid pink !important;*/
}

path, ._jsPlumb_endpoint {
    cursor: pointer;
}

.navbar {
    border-radius: 0 !important;
}

.btn-validator {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0;
}

.btn-validator:focus {
    outline: 0;
}

.validator-panel {
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 0 !important;
}

.validator-panel .well {
    margin-bottom: 0 !important;
    min-height: 300px;
    padding-top: 0;
    border-radius: 0;
}

.notify {
    background: red;
    position: relative;
    top: -15px;
    left: -10px;
}

.notify-ok {
    background: limegreen !important;
}